* {
  border: 1px solid gold;
}
h2 {
  font-size: 20px;
  margin: 10px 0px;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
li {
  font-weight: 700;
}
body {
  background-image: url(images/background.jpg);
  background-repeat: repeat-x;
  background-color:#d7d7d7;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 1.7;
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
  margin: 1.5em;
}
#main {
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin: auto;
}
#left{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  padding: 10px;
}
#dotted {
  border-top: 1px dotted black;
}
#right {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  padding: 10px;
  height: 775px
}
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5em;
}
span {
  color: #ef460e;
}
#download {
  font-weight: 700;
}
#cut {
  margin-top: 25px;
}
